







.color-set{
    background-color: aquamarine;
}





























/* .setting-way {
 
    background-color: rgb(213, 213, 213);
    width: 80%;
    display: flex;
  
 
    flex-wrap: wrap;
}

.box1 {
  
    width: 300px;
    height: 100px;
  
}

.box2 {
 
    width: 300px;
    height: 100px;
  
}

.box3 {
  
    width: 300px;
    height: 100px;
 
}
.Box15{
    background-color: rgb(213, 213, 213);
  
}


.setting-pad{
    margin-top: 100px;
    background-color: rgb(213, 213, 213);
    display: flex;
} */

/* 

.table{
    border: 5px solid green;
    text-align: center;

 }



 .table1{
    border: 3px solid green;
    width: 150px;
    height: 200px;
 }
 .table2{
    border: 3px solid green;
    width: 300px;
    height: 200px;
 }






 .table4{
    border: 3px solid green;
    width: 150px;
    height: 80px;
 }
 .table5{
    border: 3px solid green;
    width: 300px;
    height: 80px;
 }

 .table6{
    border: 5px solid blue;
    width: 280px;
    height: 160px;
 }

 .tables{
    border: 3px solid blue;
    width: 135px;
    height: 60px;
 } */